<div class="container">
  <div class="card shadow mb-4" style="margin-top: 70px;">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>idIngredient</th>
            <th>nomIngredient</th>
            <th>quantite</th>
            <th>uniteMesure</th>
            <th>Recette</th>
            <th>Image</th>
            <th *ngIf="authService.isAdmin()">Actions</th> <!-- Vérification de rôle admin -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ing of ingredients">
            <td>{{ ing.idIngredient }}</td>
            <td>{{ ing.nomIngredient }}</td>
            <td>{{ ing.quantite }}</td>
            <td>{{ ing.uniteMesure }}</td>
            <td>{{ ing.recette?.nomRecette }}</td>

            <!-- Affichage de l'image si elle est disponible -->
            <td>
              <!-- src="{{apiurl+'/image/loadfromFS/'+ing.idIngredient}}"-->
            
              <img *ngIf="ing.imageStr"
                   [src]="ing.imageStr"

                  
                   class="card-img-top img-responsive"
                   style="height:150px;width:150px" />
            </td>

            <!-- Actions : Suppression et Modification -->
            <td *ngIf="authService.isAdmin()">
              <a class="btn btn-danger" (click)="supprimerIngredient(ing)">Supprimer</a>
              <a class="btn btn-success" [routerLink]="['/updateIngredient', ing.idIngredient]">Modifier</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
